### Numeric

In [1]:
# Python program to demonstrate numeric value
  
a = 5
print("Type of a: ", type(a))
  
b = 5.0
print("\nType of b: ", type(b))
  
c = 2 + 4j
print("\nType of c: ", type(c))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>


### 1) String

In [2]:
# Python Program for Creation of String 
    
# Creating a String with single Quotes 
String1 = 'Welcome to the python programming'
print("String with the use of Single Quotes: ") 
print(String1) 
    
# Creating a String with double Quotes 
String2 = "I'm a Shanu Halli"
print("\nString with the use of Double Quotes: ") 
print(String2)
    
# Creating a String with triple Quotes 
String3 = '''I'm a python and I live in a world of "Programmimg Lang"'''
print("\nString with the use of Triple Quotes: ") 
print(String3)
  
# Creating String with triple Quotes allows multiple lines 
String4 = '''India is my country
Karnataka is my state
            '''
print("\nCreating a multiline String: ") 
print(String4)

String with the use of Single Quotes:
Welcome to the python programming

String with the use of Double Quotes:
I'm a Shanu Halli

String with the use of Triple Quotes:
I'm a python and I live in a world of "Programmimg Lang"

Creating a multiline String:
India is my country
Karnataka is my state

### Accessing elements of String

In [3]:
# Python Program to Access characters of String 
    
String1 = "My name is Shanu"
print("Initial String: ") 
print(String1) 
    
# Printing First character 
print("\nFirst character of String is: ") 
print(String1[0]) 
    
# Printing Last character 
print("\nLast character of String is: ") 
print(String1[-1])

Initial String:
My name is Shanu

First character of String is:
M

Last character of String is:
u

### 2) List

In [4]:
# Python program to demonstrate Creation of List  
    
# Creating a List 
List = [] 
print("Initial blank List: ") 
print(List) 
    
# Creating a List with the use of a String 
List = ["Apple Orange Grapes Banana Strawberry Oats"] 
print("\nList with the use of String: ") 
print(List) 
    
# Creating a List with the use of multiple values 
List = ['Apple','Orange','Grapes','Banana','Strawberry','Oats'] 
print("\nList containing multiple values: ") 
print(List)

# Creating a Multi-Dimensional List (By Nesting a list inside a List) 
List = [['Apple','Orange'], ['Oats']] 
print("\nMulti-Dimensional List: ") 
print(List)

Initial blank List:
[]

List with the use of String:
['Apple Orange Grapes Banana Strawberry Oats']

List containing multiple values:
['Apple', 'Orange', 'Grapes', 'Banana', 'Strawberry', 'Oats']

Multi-Dimensional List:
[['Apple', 'Orange'], ['Oats']]

### Accessing elements of List

In [5]:
# Python program to demonstrate accessing of element from list 
    
# Creating a List with the use of multiple values 
List = ['Apple','Orange','Grapes','Banana','Strawberry','Oats'] 
    
# accessing a element from the list using index number 
print("Accessing element from the list") 
print(List[0])  
print(List[2]) 
  
# accessing a element using negative indexing 
print("\nAccessing element using negative indexing") 
    
# print the last element of list 
print(List[-1]) 
    
# print the third last element of list  
print(List[-3])

Accessing element from the list
Apple
Grapes

Accessing element using negative indexing
Oats
Banana

### 3) Tuple

In [6]:
# Python program to demonstrate creation of Set 
    
# Creating an empty tuple 
Tuple1 = () 
print("Initial empty Tuple: ") 
print (Tuple1) 
    
# Creating a Tuple with the use of Strings 
Tuple1 = ('Apple','Orange','Grapes') 
print("\nTuple with the use of String: ") 
print(Tuple1) 
    
# Creating a Tuple with the use of list 
list1 = [1, 2, 4, 5, 6] 
print("\nTuple using List: ") 
print(tuple(list1)) 
  
# Creating a Tuple with the use of built-in function 
Tuple1 = tuple('Apple') 
print("\nTuple with the use of function: ") 
print(Tuple1) 
  
# Creating a Tuple with nested tuples 
Tuple1 = (0, 1, 2, 3) 
Tuple2 = ('Apple', 'Orange') 
Tuple3 = (Tuple1, Tuple2) 
print("\nTuple with nested tuples: ") 
print(Tuple3)

Initial empty Tuple:
()

Tuple with the use of String:
('Apple', 'Orange', 'Grapes')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with the use of function:
('A', 'p', 'p', 'l', 'e')

Tuple with nested tuples:
((0, 1, 2, 3), ('Apple', 'Orange'))

### Accessing elements of Tuple

In [7]:
# Python program to demonstrate accessing tuple
  
tuple1 = tuple([1, 2, 3, 4, 5])
  
# Accessing element using indexing
print("First element of tuple")
print(tuple1[0])
  
# Accessing element from last
# negative indexing
print("\nLast element of tuple")
print(tuple1[-1])
  
print("\nThird last element of tuple")
print(tuple1[-3])

First element of tuple
1

Last element of tuple
5

Third last element of tuple
3

### Boolean

In [8]:
# Python program to 
# demonstrate boolean type
  
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

### Set

In [9]:
# Python program to demonstrate  
# Creation of Set in Python 
    
# Creating a Set 
set1 = set() 
print("Initial blank Set: ") 
print(set1) 
    
# Creating a Set with the use of a String 
set1 = set("Apple Orange Grapes Banana Strawberry Oats Milk Apple Banana") 
print("\nSet with the use of String: ") 
print(set1) 
  
# Creating a Set with the use of a List 
set1 = set(['Apple','Orange','Grapes','Banana','Strawberry','Oats','Milk','Apple','Banana']) 
print("\nSet with the use of List: ") 
print(set1) 
  
# Creating a Set with a mixed type of values (Having numbers and strings) 
set1 = set([1, 2, 'Grapes', 4, 'Banana', 6, 'Milk']) 
print("\nSet with the use of Mixed Values") 
print(set1)

Initial blank Set:
set()

Set with the use of String:
{'k', 'l', 'y', 'i', 'O', 'S', 'g', 't', 'e', 'b', 's', 'a', 'B', 'p', 'r', 'w', 'A', ' ', 'G', 'n', 'M'}

Set with the use of List:
{'Banana', 'Grapes', 'Strawberry', 'Orange', 'Milk', 'Oats', 'Apple'}

Set with the use of Mixed Values
{1, 2, 4, 'Banana', 6, 'Grapes', 'Milk'}

### Accessing elements of Sets

In [10]:
# Python program to demonstrate Accessing of elements in a set 
    
# Creating a set 
set1 = set(['Apple','Orange','Grapes','Banana','Strawberry','Oats','Milk']) 
print("\nInitial set") 
print(set1) 
    
# Accessing element using for loop 
print("\nElements of set: ") 
for i in set1: 
    print(i, end =", ") 
    
# Checking the element using in keyword 
print("Banana" in set1)

Initial set
{'Banana', 'Grapes', 'Strawberry', 'Orange', 'Milk', 'Oats', 'Apple'}

Elements of set:
Banana, Grapes, Strawberry, Orange, Milk, Oats, Apple, True

### Dictionary

In [11]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 
    
# Creating a Dictionary with Integer Keys 
Dict = {1: 'Maharastra', 2: 'Karnataka', 3: 'Goa'} 
print("\nDictionary with the use of Integer Keys: ") 
print(Dict) 
    
# Creating a Dictionary with Mixed keys 
Dict = {'Name': 'State', 1: [1, 2, 3, 4]} 
print("\nDictionary with the use of Mixed Keys: ") 
print(Dict) 
    
# Creating a Dictionary with dict() method 
Dict = dict({1: 'Maharastra', 2: 'Karnataka', 3:'Goa'}) 
print("\nDictionary with the use of dict(): ") 
print(Dict) 
    
# Creating a Dictionary with each item as a Pair 
Dict = dict([(1, 'Maharastra'), (2, 'Karnataka')]) 
print("\nDictionary with each item as a pair: ") 
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of Integer Keys:
{1: 'Maharastra', 2: 'Karnataka', 3: 'Goa'}

Dictionary with the use of Mixed Keys:
{'Name': 'State', 1: [1, 2, 3, 4]}

Dictionary with the use of dict():
{1: 'Maharastra', 2: 'Karnataka', 3: 'Goa'}

Dictionary with each item as a pair:
{1: 'Maharastra', 2: 'Karnataka'}

### Accessing elements of Dictionary

In [12]:
# Python program to demonstrate   
# accessing a element from a Dictionary  
    
# Creating a Dictionary  
Dict = {1: 'Maharastra', 2: 'Karnataka', 3: 'Goa'} 
    
# accessing a element using key 
print("Accessing a element using key:") 
print(Dict[2]) 
  
# accessing a element using get() method 
print("Accessing a element using get:") 
print(Dict.get(3))

Accessing a element using key:
Karnataka
Accessing a element using get:
Goa

# Some Other Practice

### String Function

In [13]:
name = "Awesome the eminem"
a = 10
print(len(name))
print(name.count("e"))

18
5

In [14]:
print(name.lower())
print(name.capitalize())
print(name.upper())
print(name[1])
print(name[0:9])
print(name[0:])

awesome the eminem
Awesome the eminem
AWESOME THE EMINEM
w
Awesome t
Awesome the eminem

###  String Conversion

In [15]:
str(213)

'213'

### Adding Strings

In [16]:
"this "+"is "+"awesome"

'this is awesome'

### List Functions

In [2]:
x.append(100)
x.append([101,102,103])
x.extend(   [104,105])
x.index(100)
x.insert(13,200)
2*x 
[2*i for i in x]
x = [1,2,100,10,-5,-20,53,32,23]
x.sort(reverse=False)
x
x.sort(reverse=True)
x

[100, 53, 32, 23, 10, 2, 1, -5, -20]

### Dictionaries

In [21]:
x = {"A":1,"B":-12,"C":30,"D":5,"E":120,"F":6,"G":12}
x
x.keys()
x.values()
x["H"] = 100
x
del x["H"]
x

{'A': 1, 'B': -12, 'C': 30, 'D': 5, 'E': 120, 'F': 6, 'G': 12}

### Sorting Dictionary

In [22]:
y = sorted(x.items(),key = lambda p:p[1])
y
y.reverse()
y
if "i" in "this":
    print ("yes")
[i for i in "thisiseawsome" if i not in "i"]
"".join([i for i in "thisiseawsome" if i not in "i"])

yes

'thsseawsome'

# The End!!