## One example for all Data Structure related Functions.
# ---------------------------------------------------------------------------------------------------------------

## 1. List Function

In [1]:
fruits = ['Apple', 'Orange', 'Mango', 'Grape']

In [2]:
type(fruits)

list

In [3]:
# list.append
# list.clear
# list.copy
# list.count
# list.extend
# list.index
# list.insert
# list.pop
# list.remove
# list.reverse
# list.sort

### 1. append

In [4]:
city = ["Mumbai", "Banglore", "Hyderabad"]

In [5]:
city.append("Chennai")
print (city)

['Mumbai', 'Banglore', 'Hyderabad', 'Chennai']

### 2. clear

In [6]:
city = ["Mumbai", "Banglore", "Hyderabad"]

In [7]:
city.clear()
print(city)

[]

### 3. copy

In [8]:
flower = ["Rose", "Lotus", "Sunflower", "Lavender"]

In [9]:
print (flower)
flower.copy()
print("New copy", flower)

['Rose', 'Lotus', 'Sunflower', 'Lavender']
New copy ['Rose', 'Lotus', 'Sunflower', 'Lavender']

### 4. count

In [10]:
flower = ["Rose", "Lotus", "Sunflower", "Lavender", "Rose"]

In [11]:
flower.count("Rose")

2

### 5. extend

In [12]:
num1 = [10, 20, 30, 40]
num2 = [50, 60]

In [13]:
num1.extend(num2)
print("New Items are", num1)

New Items are [10, 20, 30, 40, 50, 60]

### 6. index

In [14]:
fruits = ['Apple', 'Orange', 'Kiwi', 'Grape']

In [15]:
fruits.index('Kiwi')

2

### 7. insert

In [16]:
num = [10, 20, 30, 40]

In [17]:
num.insert(2, 60)
print(num)

[10, 20, 60, 30, 40]

### 8. pop

In [18]:
friend = ["sagar", "Amit", "Pawan", "Rajesh"]

In [19]:
friend.pop(1)
print(friend)

['sagar', 'Pawan', 'Rajesh']

### 9. remove

In [20]:
friend = ["Sagar", "Amit", "Pawan", "Rajesh", "Pawan"]

In [21]:
friend.remove("Pawan")
print(friend)

['Sagar', 'Amit', 'Rajesh', 'Pawan']

### 10. reverse

In [22]:
num = [1, 2, 3, 4, 5]

In [23]:
num.reverse()
print (num)

[5, 4, 3, 2, 1]

### 11. sort

In [24]:
city = ['Mumbai', 'Banglore', 'Hyderabad', 'Chennai', 'Kolakata']

In [25]:
city.sort()
print (city)

['Banglore', 'Chennai', 'Hyderabad', 'Kolakata', 'Mumbai']

## 2. Sets Function

In [26]:
fruits = {'Apple','Orange','Grapes','Banana'}

In [27]:
type(fruits)

set

In [28]:
# set.add
# set.clear
# set.copy
# set.difference
# set.difference_update
# set.discard
# set.intersection
# set.intersection_update
# set.isdisjoint
# set.issubset
# set.issuperset
# set.pop
# set.remove
# set.symmetric_difference
# set.symmetric_difference_update
# set.union
# set.update

### 1. add

In [29]:
country = {"India", "Nepal", "Philipines", "Qatar"}

In [30]:
country.add("China")
print(country)

{'Philipines', 'Qatar', 'Nepal', 'India', 'China'}

### 2. difference

In [31]:
animal = {"Dog", "Cat", "Horse", "Orange"}
fruits = {'Apple','Orange','Grapes','Mango'}
z = animal.difference(fruits)
print(z)

{'Horse', 'Cat', 'Dog'}

### 3. difference_update

In [32]:
fruits = {"Apple", "Banana", "Cherry"}
friend = {"Sagar", "Amit", "Pawan", "Banana",}
friend.difference_update(fruits)
print(friend)

{'Sagar', 'Pawan', 'Amit'}

### 4. discard

In [33]:
friend = {"Sagar", "Amit", "Pawan", "Banana",}
friend.discard("Banana")
print(friend)

{'Sagar', 'Pawan', 'Amit'}

### 5. intersection

In [34]:
animal = {"Dog", "Cat", "Horse", "Orange"}
fruits = {'Apple','Orange','Grapes','Mango'}
z = animal.intersection(fruits)
print(z)

{'Orange'}

### 6. intersection_update

In [35]:
fruits = {"Apple", "Banana", "Cherry"}
friend = {"Sagar", "Amit", "Pawan", "Banana",}
fruits.intersection_update(friend)
print(fruits)

{'Banana'}

### 7. isdisjoint

In [36]:
state = {"Maharashtra", "Karataka", "Telengana"}
country = {"India", "Nepal", "Philipines", "Qatar"}
z = state.isdisjoint(country)
print(z)

True

### 8. issubset

In [37]:
state = {"Maharashtra", "Karataka", "Telengana"}
country = {"India", "Nepal", "Philipines", "Qatar"}
z = state.issubset(country)
print(z)

False

### 9. issuperset

In [38]:
num1 = {10, 20, 30, 40, 50, 60}
num2 = {20, 60}
z = num1.issuperset(num2)
print(z)

True

### 10. symmetric_difference

In [39]:
animal = {"Dog", "Cat", "Horse", "Orange"}
fruits = {'Apple','Orange','Grapes','Mango'}
z = animal.symmetric_difference(fruits)
print(z)

{'Apple', 'Mango', 'Dog', 'Cat', 'Horse', 'Grapes'}

### 11. symmetric_difference_update

In [40]:
fruits = {"Apple", "Banana", "Cherry"}
friend = {"Sagar", "Amit", "Pawan", "Banana",}
friend.symmetric_difference_update(fruits)
print(friend)

{'Apple', 'Sagar', 'Pawan', 'Cherry', 'Amit'}

### 12. union

In [41]:
city = {"Pune", "Kashmir", "Mumbai", "Banglore","Goa"}
state = {"Goa", "Karataka", "Kashmir"}
z = city.union(state)
print(z)

{'Mumbai', 'Banglore', 'Pune', 'Kashmir', 'Karataka', 'Goa'}

### 13. update

In [42]:
city = {"Pune", "Kashmir", "Mumbai", "Banglore","Goa"}
state = {"MP", "Karataka", "Kashmir"}
city.update(state)
print(city)

{'Mumbai', 'MP', 'Banglore', 'Pune', 'Kashmir', 'Karataka', 'Goa'}

## 3. Tuple Function

In [43]:
fruits = ('Apple','Orange','Grapes','Banana')

In [44]:
type(fruits)

tuple

In [45]:
# tuple.count
# tuple.index

### 1. count

In [46]:
num = (1, 3, 5, 7, 8, 7, 5, 4, 6, 8, 5)
num.count(5)

3

### 2. index

In [47]:
num2 = (1, 2, 3, 7, 8, 7, 5, 4, 6, 8, 5)
num2.index(7)

3

## 4. Dictionary Function

In [48]:
capital = {"India" : "Delhi", "Qatar" : "Doha", "Saudi Arebia" : "Riyadh"}

In [49]:
type(capital)

dict

In [50]:
# dict.clear
# dict.copy
# dict.fromkeys
# dict.get
# dict.items
# dict.keys
# dict.pop
# dict.popitem
# dict.setdefault
# dict.update
# dict.values

### 1. fromkeys

In [51]:
friend = {"Sagar", "Amit", "Prashant"}
code = "Best"
x = dict.fromkeys(friend, code)
print(x)

{'Sagar': 'Best', 'Amit': 'Best', 'Prashant': 'Best'}

### 2. get

In [52]:
grades = {'Anthony':'A', 'Raju':'A+', 'Mohan':'B', 'Arjun':'C', 'Sakshi':'A'}
grades.get("Raju")

'A+'

### 3. items

In [53]:
alphab = {"a":"apple", "b" :"ball", "c":"cat", "d":"dog"}
alphab.items()

dict_items([('a', 'apple'), ('b', 'ball'), ('c', 'cat'), ('d', 'dog')])

### 4. keys

In [54]:
grades = {'Anthony':'A', 'Raju':'A+', 'Mohan':'B', 'Arjun':'C', 'Sakshi':'A'}
grades.keys()

dict_keys(['Anthony', 'Raju', 'Mohan', 'Arjun', 'Sakshi'])

### 5. values

In [55]:
grades = {'Anthony':'A', 'Raju':'A+', 'Mohan':'B', 'Arjun':'C', 'Sakshi':'A'}
grades.values()

dict_values(['A', 'A+', 'B', 'C', 'A'])

### 6. popitem

In [56]:
capital = {"India" : "Delhi", "Qatar" : "Doha", "Saudi Arebia" : "Riyadh"}
capital.popitem()

('Saudi Arebia', 'Riyadh')

In [57]:
print(capital)

{'India': 'Delhi', 'Qatar': 'Doha'}

### 7. setdefault

In [58]:
bike = {"Brand": "Honda", "Model": "Xblade", "Year": 2019}
bike.setdefault("Color", "Green")
print (bike)

{'Brand': 'Honda', 'Model': 'Xblade', 'Year': 2019, 'Color': 'Green'}

### 8. update

In [59]:
bike = {"Brand": "Honda", "Model": "Xblade", "Year": 2019}
bike.update({"Year" : 2022})
print (bike)

{'Brand': 'Honda', 'Model': 'Xblade', 'Year': 2022}

# THE END!!!