# Daily Task - 5
## Explore List Comprehension.
# ---------------------------------------------------------------------------------------------------------------

In [2]:
num1 = [1,2,12,13,15,15,14,18,12,13,15,15,14,18]
print([item for item in num1 if item%3 == 0])

[12, 15, 15, 18, 12, 15, 15, 18]

In [3]:
num2 = [1,2,12,13,15,15,14,18,79,46,43,75,95,48,84,94,65]
print([i for i in num1 if i%2 == 1])

[1, 13, 15, 15, 13, 15, 15]

In [4]:
num3 = [1,2,3,4,5]
cube = [i**3 for i in num3]
cube

[1, 8, 27, 64, 125]

In [5]:
student = ["Sanjay", 'Sonali', 'Rahul', 'Sani', 'Sam', 'Mohan']
new_stu = [i for i in student if i.startswith('S')]
new_stu

['Sanjay', 'Sonali', 'Sani', 'Sam']

In [6]:
first = [1,2]
second = [3,4]
xy = [(x,y) for x in first for y in second]
print (xy)

[(1, 3), (1, 4), (2, 3), (2, 4)]

# The End!!!