# Four Python Data Structures:

1. List
2. Sets
3. Tuple
4. Dictionary

# 1. List

* 1D
* Heterogenous
* Allows duplicate values
* Mutable
* Indexable and Sliceable

In [1]:
empty_cart_1 = []

In [2]:
type(empty_cart_1)

list

In [3]:
item_to_buy_1 = ['Apple','Orange','Grapes','Banana','Strawberry','Oats','Milk','Apple','Banana']
item_to_buy_1

['Apple',
 'Orange',
 'Grapes',
 'Banana',
 'Strawberry',
 'Oats',
 'Milk',
 'Apple',
 'Banana']

In [4]:
type(item_to_buy_1)

list

In [5]:
item_to_buy_1[2] = 'Almonds' #Mutable

In [6]:
item_to_buy_1

['Apple',
 'Orange',
 'Almonds',
 'Banana',
 'Strawberry',
 'Oats',
 'Milk',
 'Apple',
 'Banana']

In [7]:
item_to_buy_1[:-2]

['Apple', 'Orange', 'Almonds', 'Banana', 'Strawberry', 'Oats', 'Milk']

In [8]:
item_to_buy_1.append('Grapes')

In [9]:
item_to_buy_1

['Apple',
 'Orange',
 'Almonds',
 'Banana',
 'Strawberry',
 'Oats',
 'Milk',
 'Apple',
 'Banana',
 'Grapes']

In [10]:
scores = []

num = 0
for i in range(1,11):
    num = num + i*2
    scores.append(num)
    
scores

[2, 6, 12, 20, 30, 42, 56, 72, 90, 110]

# 2. Sets

* 1D
* Heterogenous
* Not allows duplicate values
* Mutable
* Not Indexable and Not Sliceable

In [11]:
empty_cart_2 = set()

In [12]:
type(empty_cart_2)

set

In [13]:
item_to_buy_2 = {'Apple','Orange','Grapes','Banana','Strawberry','Oats','Milk','Apple','Banana'}
item_to_buy_2

{'Apple', 'Banana', 'Grapes', 'Milk', 'Oats', 'Orange', 'Strawberry'}

In [14]:
item_to_buy_2.add('Oats')

In [15]:
item_to_buy_2

{'Apple', 'Banana', 'Grapes', 'Milk', 'Oats', 'Orange', 'Strawberry'}

In [16]:
item_to_buy_2.clear()

In [17]:
item_to_buy_2

set()

# 3. Tuples

* 1D
* Heterogenous
* Allows Duplicate values
* Immutable
* Sliceable and Indeaxable

In [18]:
empty_cart_3 = ()
empty_cart_3

()

In [19]:
type(empty_cart_3)

tuple

In [20]:
item_to_buy_3 = ('Apple','Orange','Grapes','Banana','Strawberry','Oats','Milk','Apple','Banana')
item_to_buy_3

('Apple',
 'Orange',
 'Grapes',
 'Banana',
 'Strawberry',
 'Oats',
 'Milk',
 'Apple',
 'Banana')

In [21]:
item_to_buy_3[-5]

'Strawberry'

In [22]:
item_to_buy_3[-6:-1]

('Banana', 'Strawberry', 'Oats', 'Milk', 'Apple')

In [23]:
item_to_buy_3[3:-1]

('Banana', 'Strawberry', 'Oats', 'Milk', 'Apple')

In [24]:
item_to_buy_3.count('Banana')

2

# 4. Dictionary

It is **Key-Value** Pair.

* 2D
* Heterogenous
* Allows duplicate values but not keys
* Not Indexable and Not Sliceable
* Mutable

In [25]:
empty_cart_4 = {}

In [26]:
type(empty_cart_4)

dict

In [27]:
item_to_buy_4 = {'Apple':3,
                 'Orange':3}
item_to_buy_4

{'Apple': 3, 'Orange': 3}

In [28]:
item_to_buy_4.keys()

dict_keys(['Apple', 'Orange'])

In [29]:
item_to_buy_4.values()

dict_values([3, 3])

In [30]:
learner_details = {'Name'   :['Fisal','Syed'],
                   'BatchNo':[13,13]}
learner_details

{'Name': ['Fisal', 'Syed'], 'BatchNo': [13, 13]}

In [31]:
learner_details.update()

In [32]:
import pandas as pd

In [33]:
pd.DataFrame(data=learner_details)

    Name  BatchNo
0  Fisal       13
1   Syed       13

In [34]:
about_ml = """Machine learning (ML) is a field of inquiry devoted to understanding and building methods that 'learn', that is, methods that leverage data to improve performance on some set of tasks.[1] It is seen as a part of artificial intelligence. Machine learning algorithms build a model based on sample data, known as training data, in order to make predictions or decisions without being explicitly programmed to do so.[2] Machine learning algorithms are used in a wide variety of applications, such as in medicine, email filtering, speech recognition, and computer vision, where it is difficult or unfeasible to develop conventional algorithms to perform the needed tasks.[3]

A subset of machine learning is closely related to computational statistics, which focuses on making predictions using computers, but not all machine learning is statistical learning. The study of mathematical optimization delivers methods, theory and application domains to the field of machine learning. Data mining is a related field of study, focusing on exploratory data analysis through unsupervised learning.[5][6] Some implementations of machine learning use data and neural networks in a way that mimics the working of a biological brain.[7][8] In its application across business problems, machine learning is also referred to as predictive analytics."""

In [35]:
len(about_ml)

1331

In [36]:
len(set(about_ml))

48

# THE END!!!