### EXPLORE ALL STRING FUNCTIONS WITH 2 EXAMPLES FOR EACH FUNCTIONS.

In [1]:
print ("Shanu Halli")

Shanu Halli

In [2]:
dir ('Shanu Halli')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### 1. 'capitalize'

In [3]:
country = 'india is my country'
print("Original line: ", country)
print ("New Line    : ", country.capitalize())

Original line:  india is my country
New Line    :  India is my country

In [4]:
friend = "SAGAr IS My BEST FRIend"
friend.capitalize()

'Sagar is my best friend'

### 2. 'casefold'

In [5]:
city = 'HyDERABAD is Best city'
city.casefold()

'hyderabad is best city'

In [6]:
opinion = 'ENGLISH IS HARD FOR ME'
opinion.casefold()

'english is hard for me'

### 3. 'center'

In [7]:
cource = "Data science"
cource.center(20, ' ')

'    Data science    '

In [8]:
laptop = 'HP'
laptop.center(50, '9')

'999999999999999999999999HP999999999999999999999999'

### 4. 'count',

In [9]:
grade = 'My marks is very good. but sometimes My marks not good'
print (grade.count(grade))
print (grade.count('marks'))

1
2

In [10]:
passion = 'Learninng is my passion and my hobby is travelling'
passion.count('is')

2

### 5. 'encode'

In [11]:
job = 'MARKETING'
job.encode(encoding='utf', errors='strict')

b'MARKETING'

In [12]:
problem = 'this is very hard for me'
problem.encode()

b'this is very hard for me'

### 6.  'endswith'

In [13]:
animal = 'tiger lives in junggle'
print (animal.endswith('junggle'))
print (animal.endswith('in'))

True
False

In [14]:
power = 'india will more power than china'
print (power.endswith('china'))
print (power.endswith('power'))

True
False

### 7. 'expandtabs'

In [15]:
life = 'Life \tis \tvery \tBeutiful \talso \tsrtugled'
life.expandtabs(tabsize = 5)

'Life      is   very      Beutiful  also      srtugled'

In [16]:
sequence = '10 \t20 \t30'
sequence.expandtabs(tabsize = 8)

'10      20      30'

### 8. 'find'

In [17]:
fun = 'Ram is a very funny guy'
print (fun.find('is'))
print (fun.find('g'))
print (fun.find('v'))

4
20
9

In [18]:
facalty = 'John sir is my best teacher'
facalty.find('my')

12

### 9. 'format'

In [19]:
print("Hello, My name is {}, Im from {}." .format('Shanu', 'Belgaum')) # default arguments

Hello, My name is Shanu, Im from Belgaum.

In [20]:
print("Hello, My name is {0}, Im from {1}." .format("Shanu", 'Belgaum')) # positional arguments

Hello, My name is Shanu, Im from Belgaum.

In [21]:
print("Hello, My name is {name}, im from {place}." .format(name="Shanu", place='Belgaum')) # keyword arguments

Hello, My name is Shanu, im from Belgaum.

In [22]:
print("Hello, My name is {0}, im from {place}." .format("Shanu", place="Belgaum")) # mixed arguments

Hello, My name is Shanu, im from Belgaum.

### 10. 'format_map'

In [23]:
cource = {'name':['Data Analyst'], 'fees':[50000]}
print ('ExcelR {name[0]} is very good with {fees[0]} only.'.format_map(cource))

ExcelR Data Analyst is very good with 50000 only.

In [24]:
profession = {'name':['Sanjay'], 'profession':['Doctor'],'age': [31]}
print('{name[0]} is an {profession[0]} and he is {age[0]} years old.'.format_map(profession))

Sanjay is an Doctor and he is 31 years old.

###  11. 'index'

In [25]:
capital = 'Bengalore is capital city of Karnataka'
capital.index('of')

26

In [26]:
langauge = 'Python is good programming language.'
result = langauge.index('is good')
print("'is good':", result)

'is good': 7

### 12. 'isalnum'

In [27]:
words = 'Kashmir is very beatiful'
words.isalnum()

False

In [28]:
john ='Myteacher123'
john.isalnum()

True

### 13. 'isalpha'

In [29]:
state = "Karnataka"
state.isalpha()

True

In [30]:
state = "karnataka is best state."
state.isalpha()

False

In [31]:
num = 'rahul12345'
num.isalpha()

False

###  15. 'isascii'

In [32]:
words = 'Mohan'
words.isascii()

True

In [33]:
num = '123@#$'
num.isascii()

True

In [34]:
symbol = "ß"
symbol.isascii()

False

### 16. 'isdecimal'

In [35]:
num = '12500'
num.isdecimal()

True

In [36]:
num = '15.65'
num.isdecimal()

False

In [37]:
num = '1365asd'
num.isdecimal()

False

###  17. 'isdigit'

In [38]:
digit = '123'
digit.isdigit()

True

In [39]:
digit = 'Hyderabad'
digit.isdigit()

False

In [40]:
digit = '125.125'
digit.isdigit()

False

### 18. 'isidentifier'

In [41]:
country = '123456'
country.isidentifier()

False

In [42]:
country = 'India is my county'
country.isidentifier()

False

In [43]:
country = 'India_is_my_county'
country.isidentifier()

True

### 19. 'islower'

In [44]:
words = 'My Name is Shanu'
words.islower()

False

In [45]:
words = 'my work place is excelr'
words.islower()

True

### 20. 'isnumeric'

In [46]:
num = '1235'
num.isnumeric()

True

In [47]:
num = '123.456'
num.isnumeric()

False

In [48]:
num = '789 Mumbai'
num.isnumeric()

False

### 21. 'isprintable'

In [49]:
veiw = 'samsung'
veiw.isprintable()

True

In [50]:
veiw = 'Hello World\n'
veiw.isprintable()

False

### 22. 'isspace'

In [51]:
space = ' '
space.isspace()

True

In [52]:
space = 'Kolhapur City'
space.isspace()

False

### 23.'istitle'

In [53]:
title = 'delhi is captal city'
title.istitle()

False

In [54]:
title = 'Mumbai Is Capital Of Maharashtra'
title.istitle()

True

### 24. 'isupper'

In [55]:
words = 'My Name is Priti'
words.isupper()

False

In [56]:
words = 'my work place is google'
words.isupper()

False

### 25. 'join'

In [57]:
sep = ' '
name = 'Sanjay', 'Priti', 'Mumbai', 'Pune'
sep.join(name)

'Sanjay Priti Mumbai Pune'

In [58]:
sep = '-'
names = ['Sagar', '11', '10.5', 'Rohan']
print(sep.join(names))

Sagar-11-10.5-Rohan

### 26. 'ljust'

In [59]:
word = 'HELLO '
word.ljust(20, 'O')

'HELLO OOOOOOOOOOOOOO'

In [60]:
text = 'My_HP_Laptop'
x = text.ljust(50, 'S')
print(x)

My_HP_LaptopSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS

### 27. 'lower'

In [61]:
text = 'India Will Have 122 Unicorns In 25 Cities Within Next 2-4 Years'
text.lower()

'india will have 122 unicorns in 25 cities within next 2-4 years'

In [62]:
news = 'KARNATAKA GOVERNMENT LAUNCHED ‘KASHI YATRA’ SCHEME'
print ("Breaking News :", news.lower())

Breaking News : karnataka government launched ‘kashi yatra’ scheme

### 28.  'lstrip'

In [63]:
maha = '         Chief Minister        '
maha.lstrip()

'Chief Minister        '

In [64]:
maha = 'Eknath Shinde to take oath as Chief Minister of Maharashtra'
maha.lstrip('Eknath ')

'Shinde to take oath as Chief Minister of Maharashtra'

### 29. 'maketrans'

In [65]:
text = 'RBI'
text.maketrans('RBI','CBI')

{82: 67, 66: 66, 73: 73}

In [66]:
txt = "Hello Sham"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pham

### 30. 'partition'

In [67]:
position = 'Chief Minister Prime Minister'
position.partition(' ')

('Chief', ' ', 'Minister Prime Minister')

In [68]:
Delhi = '4th Synergy Conference between Indian Army and DAD'
Delhi.partition('between')

('4th Synergy Conference ', 'between', ' Indian Army and DAD')

### 31. 'removeprefix'

In [69]:
game = "Novak Djokovic becomes 1st player to win 80 matches in all four Grand Slams"
game.removeprefix('Novak ')

'Djokovic becomes 1st player to win 80 matches in all four Grand Slams'

In [70]:
sentence = "Olympic Medallist and Hockey World Cup winner Varinder Singh passes away"
result = sentence.removeprefix("Olympic ") 
print("NEW LINE : ", result)

NEW LINE :  Medallist and Hockey World Cup winner Varinder Singh passes away

### 32. 'removesuffix'

In [71]:
force = "Indian Coast Guard launched “PADMA” centralised payment system"
x = force.removesuffix(' system')
print ('New Line :', x)

New Line : Indian Coast Guard launched “PADMA” centralised payment

In [72]:
news = "Industry first “Global Health Care” programme introduced by Bajaj Allianz"
x = news.removesuffix(' Allianz')
print ("NEWS :", x)

NEWS : Industry first “Global Health Care” programme introduced by Bajaj

### 33. 'replace'

In [73]:
bank = "Co-branded contactless RuPay credit cards introduced by BOB and Nainital Bank"
x = bank.replace('credit', 'debit')
print (x)

Co-branded contactless RuPay debit cards introduced by BOB and Nainital Bank

In [74]:
line = "The course starts next Sunday."
x = line.replace('course', 'session')
print ('Correction :', x)

Correction : The session starts next Sunday.

### 34. 'rfind'

In [75]:
greet = 'Good Mornimg'
print('Index of M: ', greet.rfind('M'))
print('Index of Good: ', greet.rfind('Good'))

Index of M:  5
Index of Good:  0

In [76]:
opinion = "What an amazing university campus is this"
print ('campus: ', opinion.rfind('campus'))

campus:  27

### 35. 'rindex'

In [77]:
pets = "I love my pets, I Play Everyday"
pets.rindex('I')

16

In [78]:
sentence = "The good thing is that self-confidence is something that is born with us."
print ("Index of is :", sentence.rindex('is'))

Index of is : 57

### 36. 'rjust'

In [79]:
city = " mumbai is very rush place."
city.rjust(40, "A")

'AAAAAAAAAAAAA mumbai is very rush place.'

In [80]:
example = "Started rainy seasin....Amazing!!!"
print (example.rjust(50, '-'))

----------------Started rainy seasin....Amazing!!!

### 37. 'rpartition'

In [81]:
sebi = "SEBI imposed Rs. 7 crore penalty on National Stock Exchange"
sebi.rpartition(' ')

('SEBI imposed Rs. 7 crore penalty on National Stock', ' ', 'Exchange')

In [82]:
same = "hat cat mat chat"
same.rpartition('mat')

('hat cat ', 'mat', ' chat')

### 38. 'rsplit'

In [83]:
test = "Successful flight testing of high-speed expendable aerial target ABHYAS in Odisha"
test.rsplit("of")

['Successful flight testing ',
 ' high-speed expendable aerial target ABHYAS in Odisha']

In [84]:
same = "hat cat mat chat"
same.rsplit()

['hat', 'cat', 'mat', 'chat']

### 39. 'rstrip'

In [85]:
lang = "         Kannda is my Mothertoungh.        "
print ("New LINE :", lang.rstrip(" "))

New LINE :          Kannda is my Mothertoungh.

In [86]:
new = "Nitin Gadkari presented National Highway excellent Award 2021"
new.rstrip(' 2021')

'Nitin Gadkari presented National Highway excellent Award'

### 40. 'split'

In [87]:
sports = "Adani Sportsline is principal sponsor of Indian Olympic Association"
sports.split("is")

['Adani Sportsline ', ' principal sponsor of Indian Olympic Association']

In [88]:
friend = "Sagar Sachin Ganesh Anthony Amar"
friend.split(' ')

['Sagar', 'Sachin', 'Ganesh', 'Anthony', 'Amar']

### 41. 'splitlines'

In [89]:
doctor = '''The doctor is such a person who rarely takes a break from his duty.
He usually works individually or with his assistance.
He always equips with all the modern medical instruments and knowledge of efficiently operating them.
The advice of a doctor is sufficient to stay healthy forever.
People respect Doctors as God on Earth.'''
doctor.splitlines(True)

['The doctor is such a person who rarely takes a break from his duty.\n',
 'He usually works individually or with his assistance.\n',
 'He always equips with all the modern medical instruments and knowledge of efficiently operating them.\n',
 'The advice of a doctor is sufficient to stay healthy forever.\n',
 'People respect Doctors as God on Earth.']

In [90]:
doctor = '''The doctor is such a person who rarely takes a break from his duty.
He usually works individually or with his assistance.
He always equips with all the modern medical instruments and knowledge of efficiently operating them.
The advice of a doctor is sufficient to stay healthy forever.
People respect Doctors as God on Earth.'''
doctor.splitlines(False)

['The doctor is such a person who rarely takes a break from his duty.',
 'He usually works individually or with his assistance.',
 'He always equips with all the modern medical instruments and knowledge of efficiently operating them.',
 'The advice of a doctor is sufficient to stay healthy forever.',
 'People respect Doctors as God on Earth.']

### 42. 'startswith'

In [91]:
doctor = "National Doctor’s Day celebrates on First July"
doctor.startswith("National")

True

In [92]:
sceam = "Dak Karmayogi E-learning Platform launched by the Government"
sceam.startswith("Government")

False

### 43. 'strip',

In [93]:
company ="          Google         "
company.strip()

'Google'

In [94]:
sys = "AAAAA Indian Coast Guard AAAAAAAAAAAA"
sys.strip("A")

' Indian Coast Guard '

### 44. 'swapcase'

In [95]:
x = "Government"
x.swapcase()

'gOVERNMENT'

In [96]:
y = "Infrastructure Investment Trust (InvIT) and real estate investment trust (REIT)."
y.swapcase()

'iNFRASTRUCTURE iNVESTMENT tRUST (iNVit) AND REAL ESTATE INVESTMENT TRUST (reit).'

### 45. 'title'

In [97]:
y = "REAL ESTATE INVESTMENT TRUST (reit)"
y.title()

'Real Estate Investment Trust (Reit)'

In [98]:
title = "cislunar autonomous positioning system technology operations and navigation experiment."
title.title()

'Cislunar Autonomous Positioning System Technology Operations And Navigation Experiment.'

### 46. 'translate'

In [99]:
lang = 'Python is a programming language'
intab = "aeiou"
outtab = "12345"
trantab = lang.maketrans(intab, outtab)
print (lang.translate(trantab))

Pyth4n 3s 1 pr4gr1mm3ng l1ng51g2

In [100]:
mystr = 'python is a programming language'
str1 = 'pag'
str2 = '123'
mytable = mystr.maketrans(str1, str2)
mystr_translated = mystr.translate(mytable)

print('Original String:', mystr)
print('Translated String:', mystr_translated)
print('Table:', mytable)

Original String: python is a programming language
Translated String: 1ython is 2 1ro3r2mmin3 l2n3u23e
Table: {112: 49, 97: 50, 103: 51}

### 47. 'upper'

In [101]:
x = "Infrastructure Investment Trust "
x.upper()

'INFRASTRUCTURE INVESTMENT TRUST '

In [102]:
y = "indian air force"
y.upper()

'INDIAN AIR FORCE'

### 48. 'zfill'

In [103]:
nasa = "NASA: Washington D.C"
nasa.zfill(50)

'000000000000000000000000000000NASA: Washington D.C'

In [104]:
num = "123456"
num.zfill(20)

'00000000000000123456'

# THE END !!!